*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#imp{
    text-align: center;
    color: red;
    width: 15%;
    margin: 30px auto;
    border-bottom: 1px solid red;
}
#container{
    width: 35%;
    margin: 40px auto;
    padding: 60px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form h4{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
input{
    width: 100%;
    margin-bottom: 10px;
    padding: 18px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(206, 204, 204);
}
#container > form > a{
    text-decoration: none;
    font-size: 14px;
    color: #0066EE;
    text-align: left;
}
#container > form > a+input{
    color: white;
    background-color: #0066EE;
    padding: 15px 0;
    cursor: pointer;
    margin-top: 20px;
}
#container > form > a+input:hover{
    background-color: #0448a2;
}
form > p{
    text-align: center;
}
#container > button{
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    background-color:rgb(118, 178, 66);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#container > button:hover{
    background-color: rgb(74, 130, 26);
}
#container > button > a{
    text-decoration: none;
    color: white;
}