
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
}

#top-bar{
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
}
#top-bar > h1{
    margin: 18px;
    width: 500px;
    padding-left: 25px;
}
#top-bar > h1 > a {
    text-decoration: none;
    color: #0066EE;
}
#links{
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    margin-right: 20px;
}
#links > a{
    text-decoration: none;
    color: #0066EE;
    font-size: 14.4px;
    margin-right: 20px;
}
#navbar{
    position: sticky;
    top: 72px;
    background-color: #0066EE;
    width: 100%;
    height: auto;
    z-index: 1000;
}
#navbar > div{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

#navbar > div > a{
    text-decoration: none;
    color: white;
    padding: 12px 18px;
    font-size: 13px;
    font-weight: 600;
}


@media all and (min-width:481px) and (max-width:999px){
    #top-bar{
        border: 2px solid red;
        width: 1000px;
    }
    #navbar{
        width: 1000px;
    }
    #navbar > div{
        border: 2px solid green;
        width: 1000px;
    }

}